<div class="box">
  <article class="media">
    <figure class="media-left">
      <%= image_tag user_avatar(comment.user, 54) %>
    </figure>
    <div class="media-content">
      <div class="content">
        <p>
          <strong><%= link_to comment.user.name, user_path(comment.user), class: "has-text-info-dark" %></strong> -
          <small><%= time_ago_in_words(comment.created_at) %> ago</small>
        <br>
          <%= comment.body %>
        </p>

        <nav class="level is-mobile">
          <div class="level-left">
            <p class="level-item like-button">
              <%= render "likes/like_button", likable: comment %>
            </p>
            <p class= "level-item comments">
              <%= link_to comment_path(comment), class: "hidden-button has-text-info-dark" do %>
                <i class="fa-solid fa-comment"></i> <small><%= comment.comments.count %> Comment(s)</small>
              <% end %>
            </p>
           </div>
          </nav>
         </div>
        </div>
     </article>
   </div>
