<div class="section">
  <div class="comment-container">
    <%= render "comments/display_comment", comment: @comment %>
    <%= render "comments/comment_links", comment: @comment %>

    <div class="comments-container">
       <%= render "comments/replies", commentable: @comment %>
    </div>

    <div class="comment-form">
       <%= render "comments/form", commentable: @comment %>
    </div>
  </div>

  <nav class="navbar is-fixed-bottom">
   <div class="navbar-menu">
     <div class="navbar-item">
       <div class="field is-grouped">
         <p class="control">
           <%= link_to 'Back', root_path, class: "button is-dark" %>
         </p>
     </div>
   </div>
 </nav>
 </div>
