<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-4">
        <div class="title is-4">Update personal info</div>
          <%= simple_form_for @user do |f| %>

            <div class="field">
              <div class="control">
                <div class="row">
                  <div class="columns">
                    <div class="column">
                        <%= image_tag user_avatar(@user, 300) %>
                    </div>

                    <div class="column">
                     <%= f.file_field :avatar %>
                   </div>
                  </div>
                 </div>
                </div>
               </div>

            <div class="field">
              <div class="control">
                <%= f.input :profession, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
              </div>
            </div>

            <div class="field">
              <div class="control">
                <%= f.input :location, autofocus: true, input_html: { class: "input"}, wrapper: false, label_html: { class: "label" } %>
              </div>
            </div>

            <%= f.button :submit, "Update", class:"button is-info" %>

          <% end %>
        </div>
      </div>
    </div>
