<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column user-info">
        <article class="media">
          <figure class="media-left">
            <%= image_tag user_avatar(@user, 100) %>
          </figure>
          <div class="media-content">
            <div class="content has-text-info-dark">
              <p>
                <strong><%= @user.name %></strong>
              </p>
              <p>
                <% if @user.profession.present? %>
                  <p> <strong>Profession:</strong> <%= @user.profession %> </p>
                <% end %>
                <% if @user.location.present? %>
                  <p> <strong>Location:</strong> <%= @user.location %> </p>
                <% end %>

                <% if @user == current_user && @user.profession.present? && @user.location.present? %>
                  <p> <%= link_to "Edit Info", edit_user_path(@user), class: "has-text-info-dark" %> </p>
                <% elsif @user == current_user %>
                  <p> <%= link_to "Add Info", edit_user_path(@user), class: "has-text-info-dark" %> </p>
                <% end %>
             </div>
            </div>
           </article>
          </div>


          <div class="column user-friends">
            <% if @user == current_user %>
              <p> <%= link_to "My Friends", friend_ships_path, class: "has-text-info-dark" %> </p> <br>
              <p> <%= link_to "Pending Friend Requests", friend_requests_path, class: "has-text-info-dark" %> </p>
            <% else %>
              <p> <%= render "friend_status", user: @user %> </p>
            <% end %>
           </div>
          </div>
         </div>

        <div class="user-posts">
          <div class="title is-6">Posts</div>
           <% if @user.posts.any? %>
             <% @user.posts.each do |post| %>
               <%= render "posts/post_content", post: post %>
               <%= render "posts/post_links", post: post %>
             <% end %>
           <% else %>
             <p> No posts yet! </p>
           <% end %>
        </div>
      </div>
